//@reset
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: normal;
}

ul {
  list-style: none;

}

blockquote,
q {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  transition: all .3s;
}


//@grid layout
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.grid--column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}


.grid--top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.grid--start {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.grid--end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.grid--center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.grid--content {
  display: flex;
  flex-flow: row wrap;
}

.flex {
  flex: 1;
}

.centerBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.centerBox--start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}




// //@theme layout
// a {
//   text-decoration: none;
// }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;

}

// .container--inner {
//   width: 100%;
//   position: relative;
//   align-items: stretch;
//   height: 100%;
// }


// .container--small {
//   width: 48%;
// }


// // @wordpress
// img.alignright {
//   float: right;
//   margin: 0 0 1em 1em;
// }

// img.alignleft {
//   float: left;
//   margin: 0 1em 1em 0;
// }

// img.aligncenter {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// .alignright {
//   float: right;
// }

// .alignleft {
//   float: left;
// }

// .aligncenter {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

//@OOCSS
.clear {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.w100 {
  width: 100%;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.h100 {
  height: 100%;
}

.h100vh {
  min-height: 100vh;
  overflow: hidden;
}

.hauto {
  height: auto;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}
$blue: #016BB5;
$blue: rgb(1, 107, 181);
$gray: #333;
$i: !important;

.btn--white {
  padding: 15px 30px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .3s;
  border-radius: 2px;
  &:hover {
    background: white;
    color: $blue;
  }

}