html,
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
  .header__top {
    background: $blue;
    color: white;
    a {
      color: white $i;
      &:hover,
      &:focus {
        color: white $i;
      }
    }
    .header__contact {
      span {
        margin-left: 10px;
        font-size: 13px;
      }
      a {
        padding: 10px 20px;
        background: $blue - 30;
        transition: all .3s;
        &:hover {
          background: $blue - 45;
        }
      }
      .social--link {
        background: $blue - 20;
        padding: 0 15px;
        transition: all .3s;
        &:hover {
          background: $blue - 35;
        }
      }
      .catalogo {
        background: $blue - 10;
        transition: all .3s;
        text-transform: uppercase;
        &:hover {
          background: $blue - 25;
        }
      }
    }
    .header__cart {
      margin-right: 15px;
    }
    .header__search {
      flex: 1;
      .aws-container {
        width: 100%;
      }
      form {
        margin: 0;
      }
      input {
        border: none;
        background: none;
        box-shadow: none;
        height: 100%;
        background: #f2f2f2;
        transition: all .3s;
        &:focus {
          background: #e2e2e2;
        }
      }
    }
  }
  .header__center {
    padding: 0px;
    .header__logo {
      margin: 10px 0;
      img {
        width: 100%;
        max-width: 260px;
      }
    }
    .header__menu {
      >ul {
        list-style: none;
        margin: 0;
        height: 100%;
        >li {
          padding: 0 15px;
          position: relative;
          height: 100%;
          @extend .centerBox;
          >a {
            color: $gray;
            font-size: 14px;
            text-transform: uppercase;
            padding: 10px 0 10px;
            border-bottom: 3px solid white;
            &:hover {
              border-bottom: 3px solid $blue;
            }
          }
        }
      }
      .submenu {
        position: absolute;
        width: 634px;
        bottom: -300px;
        left: 0;
        list-style: none;
        margin: 0;
        background: white;
        height: 270px;
        border-bottom: 2px solid $blue;
        transition: all .3s;
        opacity: 0;
        pointer-events: none;
        &.active {
          bottom: -269px;
          opacity: 1;
          pointer-events: fill;
        }
        li {
          margin: 0 0 10px;
          a {
            color: $gray;
            font-size: 13px;
            transition: all .3s;
            text-transform: uppercase;
            &:hover {
              color: $blue;
            }
          }
        }
      }
      .submenu__container {
        padding: 15px 30px;
        flex: 1;
      }
      .sponsor {
        width: 200px;
        img {
          border-radius: 0;
          height: 270px;
        }
      }
    }
  }
  .header__bottom {
    padding: 5px 10px 0;
    .header__search {
      background: #f2f2f2;
      .aws-container {
        width: 100%;
      }
      form {
        margin: 0;
      }
      input {
        border: none;
        background: none;
        box-shadow: none;
      }
    }
  }
}

// @banner
section.banner {
  position: relative;
  figure {
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 9;
  }
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99;
  }
  .banner__caption {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 40%;
    padding: 50px;
    background-color: rgba(1, 107, 181, .5); // background-image: url('../images/pattern1.png');
    background-position: center center;
    text-align: left;
    z-index: 999;
    a {
      pointer-events: fill;
      display: inline-block;
      margin-top: 20px;
    }
  }
  h2 {
    font-size: 24px$i;
    line-height: 150% $i;
    margin: 0 0 20px $i;
    color: white $i;
    border: none $i;
    padding: 0 $i;
    text-align: left $i;
  }
  p {
    color: white;
    font-weight: 300;
  }
  .banner--pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
    }
    li.slick-active {
      button {
        background: $blue;
        border: 2px solid white;
      }
    }
    button {
      font-size: 0;
      background: white;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin: 0 5px;
      border: 2px solid $blue;
    }
  }
}

section.featured {
  text-align: center;
  background: #f9f9f9;
  padding: 0 0 10px;
  .product--feautured {
    width: 23%;
    height: 400px;
    margin: 0 10px 20px;
    background: white;
  }
  .product {
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border-bottom: 2px solid $blue;
    &:hover {
      border: 1px solid #ccc;
      .btn {
        bottom: 0;
      } // .price {
      //   background: $blue + 90;
      // }
    }
    >a {
      display: block;
      height: 100%;
      padding: 15px;
      text-align: center;
    }
    img {
      height: auto;
      width: auto;
      display: inline-block;
      max-height: 180px;
      border-radius: 0;
    }
    h3 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px 0;
      line-height: 120%;
      text-align: left;
    }
    .price {
      font-size: 14px;
      background: $blue + 60;
      padding: 5px 10px;
      border-radius: 3px;
      width: auto;
      display: inline-block;
      transition: all .3s;
      font-weight: 300;
      span {
        color: white;
        display: inline-block;
      }
      del {
        opacity: .8;
      }
      del span {
        // color: #d9534f;
        text-decoration: line-through; // font-style: italic;
      }
      ins span {
        // color: #5cb85c;
      }
    }
    .btn {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
    }
    .sale--tag {
      position: absolute;
      top: 20px;
      right: 0;
      font-size: 14px;
      background: #ea222d;
      padding: 5px 15px;
      color: white;
      border-radius: 5px 0 0 5px;
      text-transform: uppercase;
      @include oswald(500);
    }
  }
}

section.parallax {
  figure {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    .capa {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 107, 181, .6);
      background-image: url('../images/pattern1.png');
      background-position: center center;
      z-index: 9;
    }
    figcaption {
      position: relative;
      padding: 40px 0;
      height: 100%;
      z-index: 99;
      color: white;
      h1 {
        color: white;
        @include oswald(700);
        font-size: 34px;
        letter-spacing: 1px;
      }
      p {
        color: white;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        line-height: 150%;
      }
      .btn {
        padding: 15px 30px;
        color: white;
        border: 1px solid white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all .3s;
        border-radius: 2px;
        &:hover {
          background: white;
          color: $blue;
        }
      }
    }
  }
}

section.events {
  background: #f2f2f2;
  article {
    width: 31%;
    height: 420px;
    margin: 0 10px 40px;
    background: white;
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    &:hover {
      border: 1px solid #ccc;
      .btn {
        bottom: 0;
      }
    }
    figure {
      height: 180px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
    h3 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px;
      line-height: 120%;
      text-align: left;
    }
    p {
      margin: 0 20px;
      font-size: 14px;
      line-height: 150%;
      text-align: left;
      color: #222;
    }
    .btn {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
    }
  }
}

section.brands {
  padding: 0 0 30px;
  .brands_slider--item {
    height: 120px;
    padding: 30px;
    img {
      width: auto;
      height: auto;
      max-height: 80px;
    }
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  .brands--pagination {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
    }
    li.slick-active {
      button {
        background: $blue;
        border: 2px solid $blue;
      }
    }
    button {
      font-size: 0;
      background: white;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border: 2px solid $blue;
    }
  }
}

section.newsletter {
  background: $blue + 20;
  h3 {
    color: white;
    margin: 0;
    padding-right: 30px;
    text-align: left;
    @include oswald(700);
    font-size: 20px;
    line-height: 100%;
  }
  .form {
    flex: 1;
    padding: 30px 0;
    form {
      margin: 0;
    }
    input[type=email] {
      width: 100%;
      transition: all .3s;
    }
    input[type=submit] {
      background: $blue;
      transition: all .3s;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      background-image: url('../images/pattern1.png');
      background-position: center center;
      &:hover {
        background: $blue - 10;
      }
    }
    div.wpcf7 {
      width: 100%;
    }
    .wpcf7-form-control-wrap {
      flex: 1;
    }
  }
}

footer {
  background: $blue;
  padding: 20px 0;
  color: white;
  font-size: 12px;
  a {
    color: white;
    transition: all .3s;
    &:hover {
      color: $blue + 100;
    }
  }
  span {
    margin: 0 10px;
    display: block;
  }
}

$headerheight: 120px;
header {
  height: $headerheight;
}

.fixed-top {
  margin-top: $headerheight
}

main.home {
  text-align: center;
  h2 {
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    padding: 10px 25px;
    @include oswald(500);
    border-top: thin solid $blue;
    border-bottom: thin solid $blue;
    width: auto;
    display: inline-block;
    position: relative;
  }
}

// @pisados
.main-navigation ul li a {
  color: black $i;
}

// .aws-container .aws-search-field,
.aws-container,
.aws-search-form {
  height: 100%;
}

.aws-container .aws-search-field {
  padding: 0 30px;
  font-size: 14px;
  position: relative;
}

.aws-search-form::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  content: "\f002";
  color: $blue;
  font-size: 20px;
  text-align: center;
  font-family: "FontAwesome";
  z-index: 99;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  bottom: 0;
}

.site-header-cart .cart-contents .count {
  margin-right: 10px;
}

.woocommerce-mini-cart__empty-message {
  color: black;
  font-size: 12px;
  @include roboto(500);
}

.site-header-cart .widget_shopping_cart {
  background-color: white $i;
}

.site-header-cart .widget_shopping_cart {
  top: 42px $i;
  width: 200px $i;
  background: $blue $i; // left: 0 $i;
}

.woocommerce-mini-cart__total {
  background: $blue + 30 $i
}

.site-header-cart .cart-contents {
  height: 42px $i;
  display: flex $i;
  flex-flow: grid nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 30px $i
}

.site-header-cart .cart-contents:after {
  margin-top: -10px;
}

.site-header-cart .woocommerce-Price-amount,
.site-header-cart .quantity {
  font-size: 11px $i;
  color: #f2f2f2 $i;
}

.widget_shopping_cart p.buttons {
  padding: 0 $i;
  a {
    background: white $i;
    color: $blue $i;
    margin: 0 $i;
    &:hover {
      color: $blue - 50 $i;
    }
  }
}

.widget_shopping_cart .product_list_widget li {
  padding: 5px 10px $i;
  border-bottom: thin solid white;
}

.content-area {
  background: white;
}

.filter__products {
  background: #f9f9f9;
  padding: 10px 0;
  h2 {
    font-size: 16px;
    @include oswald(600);
    text-transform: uppercase;
    margin: 16px 0 0;
  }
  .woof {
    flex: 1;
    margin: 12px 0 0 30px;
  }
  .woof_redraw_zone {
    @extend .grid;
  }
  .woof_container {
    margin: 0;
    padding: 0;
    flex: 1;
    &:nth-of-type(1) {
      margin-right: 15px;
    }
    &:nth-of-type(2) {
      margin-left: 15px;
    }
  }
  .woof_submit_search_form_container {
    width: 100%;
    text-align: right;
  }
  .woof_submit_search_form_container {
    margin: 10px 0 0;
    button {
      padding: 5px 10px;
      color: white;
      border: 1px solid white;
      background: $blue;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      transition: all .3s;
      border-radius: 2px;
      &:hover {
        background: $blue + 20;
      }
    }
  }
}

.woocommerce-products-header {
  text-align: left $i;
  @include oswald(700);
  text-transform: uppercase;
  padding: 0 $i;
  margin: 20px 0;
  height: auto $i;
  h1 {
    font-size: 30px;
    color: $blue;
  }
}

// @ocultos
.wcppec-cart-widget-button,
.woocommerce-breadcrumb,
.woocommerce-products-headerx,
.columns-4 .storefront-sorting,
.storefront-sorting {
  display: none;
}

main.tienda {
  ul.products li.product {
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    height: 400px;
    background: white;
    border-bottom: 2px solid $blue;
    &:hover {
      border: 1px solid #ccc;
      .button  {
        bottom: 0;
      } // .price {
      //   background: $blue + 90;
      // }
    }
    .onsale {
      position: absolute;
      top: 20px;
      right: 0;
      font-size: 14px;
      background: #ea222d;
      padding: 5px 15px;
      color: white;
      border-radius: 5px 0 0 5px;
      text-transform: uppercase;
      @include oswald(500);
      border: none;
    }
    h2 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px 0;
      line-height: 120%;
      text-align: left;
    }
  }
  .product {
    >a {
      display: block;
      height: 100%;
      padding: 15px;
      text-align: center;
    }
    img {
      height: auto;
      width: auto;
      display: inline-block;
      max-height: 180px;
      border-radius: 0;
    }
    .price {
      font-size: 14px;
      background: $blue + 60;
      padding: 5px 10px;
      border-radius: 3px;
      width: auto;
      display: inline-block;
      transition: all .3s;
      font-weight: 300;
      display: inline-block $i;
      span {
        color: white;
        display: inline-block;
      }
      del {
        opacity: .8;
      }
      del span {
        // color: #d9534f;
        text-decoration: line-through; // font-style: italic;
      }
      ins span {
        // color: #5cb85c;
      }
    }
    .button  {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
      margin: 0 $i;
      height: auto;
    
    }
  }
}

footer {
  clear: both;
}