html,
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
  a {
    cursor: pointer;
  }
  .header__top {
    background: $blue;
    color: white;
    a {
      color: white $i;
      &:hover,
      &:focus {
        color: white $i;
      }
    }
    .header__account {
      padding: 13px 12px;
      background: $blue - 30;
      transition: all .3s;
      &:hover {
        background: $blue - 45;
      }
      span {
        margin-left: 10px;
        font-size: 13px;
      }
    }
    .header__contact {
      span {
        margin-left: 10px;
        font-size: 13px;
      }
      a {
        padding: 13px 12px;
        background: $blue - 30;
        transition: all .3s;
        &:hover {
          background: $blue - 45;
        }
      }
      .social--link {
        background: $blue - 20;
        padding: 0 15px;
        transition: all .3s;
        &:hover {
          background: $blue - 35;
        }
      }
      .catalogo {
        background: $blue - 10;
        transition: all .3s;
        text-transform: uppercase;
        &:hover {
          background: $blue - 25;
        }
      }
      .dealers {
        background: $blue + 20;
        transition: all .3s;
        text-transform: uppercase;
        &:hover {
          background: $blue + 10;
        }
      }
    }
    .header__cart {
      margin-right: 15px;
    }
    .header__search {
      flex: 1;
      .aws-container {
        width: 100%;
      }
      form {
        margin: 0;
      }
      input {
        border: none;
        background: none;
        box-shadow: none;
        height: 100%;
        background: #f2f2f2;
        transition: all .3s;
        &:focus {
          background: #e2e2e2;
        }
      }
    }
  }
  .header__center {
    padding: 0px;
    .header__logo {
      margin: 10px 0;
      img {
        width: 100%;
        max-width: 220px;
      }
    }
    .header__menu {
      >ul {
        list-style: none;
        margin: 0;
        height: 100%;
        >li {
          position: relative;
          height: 100%;
          margin: 0 2px;
          @extend .centerBox;
          >a {
            color: $gray;
            font-size: 13.2px;
            text-transform: uppercase;
            padding: 10px;
            border-radius: 3px;
            font-weight: 400;
            transition: all .3s;
            letter-spacing: .2px;
            &:hover {
              background: $blue;
              color: white;
            }
          }
        }
      }
      .submenu {
        position: absolute;
        width: 930px;
        bottom: -300px;
        left: 0;
        list-style: none;
        margin: 0;
        background: white;
        height: 270px;
        border-bottom: 2px solid $blue;
        transition: all .3s;
        opacity: 0;
        pointer-events: none;
        background: #f2f2f2;
        &.active {
          bottom: -270px;
          opacity: 1;
          pointer-events: fill;
        }
        li {
          margin: 0px 0;
          border-top: thin solid #ccc;
          &:nth-of-type(5) {
            border-bottom: thin solid #ccc;
          }
          a {
            color: $gray;
            font-size: 14px;
            transition: all .3s;
            padding: 10px 0;
            display: block;
            text-transform: uppercase;
            &:hover {
              color: $blue;
            }
          }
        }
      }
      .submenu__container {
        padding: 15px 30px;
        flex: 1;
      }
      .sponsor {
        width: 200px;
        img {
          border-radius: 0;
          height: 270px;
        }
      }
    }
  }
  .header__bottom {
    padding: 5px 10px 0;
    .header__search {
      background: #f2f2f2;
      .aws-container {
        width: 100%;
      }
      form {
        margin: 0;
      }
      input {
        border: none;
        background: none;
        box-shadow: none;
      }
    }
  }
}

// @banner
section.banner {
  position: relative;
  figure {
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 9;
  }
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99;
  }
  .banner__caption {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 40%;
    padding: 50px;
    background-color: rgba(1, 107, 181, .5); // background-image: url('../images/pattern1.png');
    background-position: center center;
    text-align: left;
    z-index: 999;
    a {
      pointer-events: fill;
      display: inline-block;
      margin-top: 20px;
    }
  }
  h2 {
    font-size: 24px$i;
    line-height: 150% $i;
    margin: 0 0 20px $i;
    color: white $i;
    border: none $i;
    padding: 0 $i;
    text-align: left $i;
  }
  p {
    color: white;
    font-weight: 300;
  }
  .banner--pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
    }
    li.slick-active {
      button {
        background: $blue;
        border: 2px solid white;
      }
    }
    button {
      font-size: 0;
      background: white;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      margin: 0 5px;
      border: 2px solid $blue;
    }
  }
}

section.featured {
  text-align: center;
  background: #f9f9f9;
  padding: 0 0 10px;
  .product--feautured {
    width: 23%;
    height: 400px;
    margin: 0 10px 20px;
    background: white;
  }
  .product {
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border-bottom: 2px solid $blue;
    &:hover {
      border: 1px solid #ccc;
      .btn {
        bottom: 0;
      } // .price {
      //   background: $blue + 90;
      // }
    }
    >a {
      display: block;
      height: 100%;
      padding: 15px;
      text-align: center;
    }
    img {
      height: auto;
      width: auto;
      display: inline-block;
      max-height: 180px;
      border-radius: 0;
    }
    h3 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px 0;
      line-height: 120%;
      text-align: left;
    }
    .price {
      font-size: 14px;
      background: $blue + 60;
      padding: 5px 10px;
      border-radius: 3px;
      width: auto;
      display: inline-block;
      transition: all .3s;
      font-weight: 300;
      span {
        color: white;
        display: inline-block;
      }
      del {
        opacity: .8;
      }
      del span {
        // color: #d9534f;
        text-decoration: line-through; // font-style: italic;
      }
      ins span {
        // color: #5cb85c;
      }
    }
    .btn {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
    }
    .sale--tag {
      position: absolute;
      top: 20px;
      right: 0;
      font-size: 14px;
      background: #ea222d;
      padding: 5px 15px;
      color: white;
      border-radius: 5px 0 0 5px;
      text-transform: uppercase;
      @include oswald(500);
    }
  }
}

section.parallax {
  figure {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    .capa {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 107, 181, .6);
      background-image: url('../images/pattern1.png');
      background-position: center center;
      z-index: 9;
    }
    figcaption {
      position: relative;
      padding: 40px 0;
      height: 100%;
      z-index: 99;
      color: white;
      h1 {
        color: white;
        @include oswald(700);
        font-size: 34px;
        letter-spacing: 1px;
      }
      p {
        color: white;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        line-height: 150%;
      }
      .btn {
        padding: 15px 30px;
        color: white;
        border: 1px solid white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all .3s;
        border-radius: 2px;
        &:hover {
          background: white;
          color: $blue;
        }
      }
    }
  }
}

section.events {
  background: #f2f2f2;
  article {
    width: 31%;
    height: 420px;
    margin: 0 10px 40px;
    background: white;
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    &:hover {
      border: 1px solid #ccc;
      .btn {
        bottom: 0;
      }
    }
    figure {
      height: 180px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
    h3 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px;
      line-height: 120%;
      text-align: left;
    }
    p {
      margin: 0 20px;
      font-size: 14px;
      line-height: 150%;
      text-align: left;
      color: #222;
    }
    .btn {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
    }
  }
}

section.brands {
  padding: 0 0 30px;
  .brands_slider--item {
    height: 120px;
    padding: 30px;
    img {
      width: auto;
      height: auto;
      max-height: 80px;
    }
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  .brands--pagination {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
    }
    li.slick-active {
      button {
        background: $blue;
        border: 2px solid $blue;
      }
    }
    button {
      font-size: 0;
      background: white;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border: 2px solid $blue;
    }
  }
}

section.newsletter {
  background: $blue + 20;
  h3 {
    color: white;
    margin: 0;
    padding-right: 30px;
    text-align: left;
    @include oswald(700);
    font-size: 20px;
    line-height: 100%;
  }
  .form {
    flex: 1;
    padding: 30px 0;
    form {
      margin: 0;
    }
    input[type=email] {
      width: 100%;
      transition: all .3s;
    }
    input[type=submit] {
      background: $blue;
      transition: all .3s;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      background-image: url('../images/pattern1.png');
      background-position: center center;
      &:hover {
        background: $blue - 10;
      }
    }
    div.wpcf7 {
      width: 100%;
    }
    .wpcf7-form-control-wrap {
      flex: 1;
    }
  }
}

footer {
  background: $blue;
  padding: 20px 0;
  color: white;
  font-size: 12px;
  a {
    color: white;
    transition: all .3s;
    &:hover {
      color: $blue + 100;
    }
  }
  span {
    margin: 0 10px;
    display: block;
  }
}

$headerheight: 114px;
header {
  height: $headerheight;
}

.fixed-top {
  margin-top: $headerheight
}

main.home {
  text-align: center;
  h2 {
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    padding: 10px 25px;
    @include oswald(500);
    border-top: thin solid $blue;
    border-bottom: thin solid $blue;
    width: auto;
    display: inline-block;
    position: relative;
  }
}

// @pisados
.main-navigation ul li a {
  color: black $i;
}

// .aws-container .aws-search-field,
.aws-container,
.aws-search-form {
  height: 100%;
}

.aws-container .aws-search-field {
  padding: 0 30px;
  font-size: 14px;
  position: relative;
}

.aws-search-form::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  content: "\f002";
  color: $blue;
  font-size: 20px;
  text-align: center;
  font-family: "FontAwesome";
  z-index: 99;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  bottom: 0;
}

.site-header-cart .cart-contents .count {
  margin-right: 10px;
}

.woocommerce-mini-cart__empty-message {
  color: black;
  font-size: 12px;
  @include roboto(500);
}

.site-header-cart .widget_shopping_cart {
  background-color: white $i;
}

.site-header-cart .widget_shopping_cart {
  top: 42px $i;
  width: 200px $i;
  background: $blue $i; // left: 0 $i;
}

.woocommerce-mini-cart__total {
  background: $blue + 30 $i
}

.site-header-cart .cart-contents {
  height: 42px $i;
  display: flex $i;
  flex-flow: grid nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 30px $i
}

.site-header-cart .cart-contents:after {
  margin-top: -10px;
}

.site-header-cart .woocommerce-Price-amount,
.site-header-cart .quantity {
  font-size: 11px $i;
  color: #f2f2f2 $i;
}

.widget_shopping_cart p.buttons {
  padding: 0 $i;
  a {
    background: white $i;
    color: $blue $i;
    margin: 0 $i;
    &:hover {
      color: $blue - 50 $i;
    }
  }
}

.widget_shopping_cart .product_list_widget li {
  padding: 5px 10px $i;
  border-bottom: thin solid white;
}

.content-area {
  background: white;
}

.filter__products {
  background: #f9f9f9;
  padding: 10px 0;
  h2 {
    font-size: 16px;
    @include oswald(600);
    text-transform: uppercase;
    margin: 20px 30px 0 0;
  }
  .woof {
    margin: 12px 0 0 0;
    flex: 1;
    width: 70%;
  }
  .woof_redraw_zone {
    @extend .grid;
  }
  .woof_container {
    margin: 0;
    padding: 0;
    flex: 1;
    &:nth-of-type(1) {
      margin-right: 0px;
    }
    &:nth-of-type(2) {
      margin-left: 30px;
    }
  }
  .woof_submit_search_form_container {
    width: 100%;
    text-align: right;
  }
  .woof_submit_search_form_container {
    margin: 10px 0 0;
    button {
      padding: 5px 10px;
      color: white;
      border: 1px solid white;
      background: $blue;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      transition: all .3s;
      border-radius: 2px;
      &:hover {
        background: $blue + 20;
      }
    }
  }
}

.woocommerce-products-header {
  text-align: left $i;
  text-transform: uppercase;
  padding: 0 $i;
  margin: 20px 0;
  height: auto $i;
  h1 {
    font-size: 30px;
    color: $blue;
    @include oswald(600);
    letter-spacing: .5px;
  }
}

// @ocultos
.wcppec-cart-widget-button,
.woocommerce-breadcrumb,
.woocommerce-products-headerx,
.columns-4 .storefront-sorting,
.storefront-sorting {
  display: none;
}

main.tienda {
  ul.products li.product {
    border: 1px solid #ddd;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    height: 400px;
    background: white;
    border-bottom: 2px solid $blue;
    &:hover {
      border: 1px solid #ccc;
      .button {
        bottom: 0;
      } // .price {
      //   background: $blue + 90;
      // }
    }
    .onsale {
      position: absolute;
      top: 20px;
      right: 0;
      font-size: 14px;
      background: #ea222d;
      padding: 5px 15px;
      color: white;
      border-radius: 5px 0 0 5px;
      text-transform: uppercase;
      @include oswald(500);
      border: none;
    }
    h2 {
      font-size: 18px;
      @include oswald(500);
      margin: 20px 0;
      line-height: 120%;
      text-align: left;
    }
  }
  .products {
    >a {
      display: block;
      height: 100%;
      padding: 15px;
      text-align: center;
    }
    img {
      height: auto;
      width: auto;
      display: inline-block;
      max-height: 180px;
      border-radius: 0;
    }
    .price {
      font-size: 14px;
      background: $blue + 60;
      padding: 5px 10px;
      border-radius: 3px;
      width: auto;
      display: inline-block;
      transition: all .3s;
      font-weight: 300;
      display: inline-block $i;
      span {
        color: white;
        display: inline-block;
      }
      del {
        opacity: .8;
      }
      del span {
        // color: #d9534f;
        text-decoration: line-through; // font-style: italic;
      }
      ins span {
        // color: #5cb85c;
      }
    }
    .button {
      position: absolute;
      bottom: -100%;
      left: 0;
      background: $blue;
      padding: 15px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      transition: all .3s;
      font-weight: 600;
      margin: 0 $i;
      height: auto;
    }
  }
  .tienda__sponsor {
    img {
      border-radius: 0;
    }
  }
}

footer {
  clear: both;
}

.storefront-full-width-content .site-main .columns-4 ul.products {
  li.product {
    width: 23.5% $i;
    margin-right: 2% $i;
    margin-bottom: 20px $i;
  }
  li.product.last {
    margin-right: 0 $i;
  }
}

.single-product .filter__products {
  display: none;
}

.single-product {
  .product {
    margin-top: 0px;
  }
  h1 {
    color: $blue;
    @include oswald(500);
    font-size: 28px;
    letter-spacing: .2px;
  }
  .stock {
    margin: 10px 0 0;
    font-size: 12px;
  }
  .stock.in-stock {
    color: #999;
  }
  .button {
    background: $blue $i;
    padding: 15px $i;
    text-align: center;
    color: white;
    font-size: 12px $i;
    text-transform: uppercase $i;
    transition: all .3s;
    font-weight: 600;
    letter-spacing: .5px;
    &:hover {
      background: $blue - 10 $i;
    }
  }
  .price {
    font-size: 14px $i;
    background: $blue + 60;
    padding: 5px 10px;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    transition: all .3s;
    font-weight: 300;
    display: inline-block $i;
    margin: 0 0 10px $i;
    span {
      color: white;
      display: inline-block;
    }
    del {
      opacity: .8;
    }
    del span {
      // color: #d9534f;
      text-decoration: line-through; // font-style: italic;
    }
    ins span {
      // color: #5cb85c;
    }
  }
  .onsale {
    font-size: 14px;
    background: #ea222d;
    padding: 5px 15px;
    color: white;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    @include oswald(500);
    border: none;
    position: absolute;
    top: 20px;
    right: 0;
  }
  .variations {
    label,
    .reset_variations {
      display: none;
    }
  }
  $borderColor: #f2f2f2 - 30;
  .sku_wrapper {
    border-top: thin dotted $borderColor;
  }
  .sku_wrapper,
  .posted_in,
  .yith-wcbr-brands {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    border-bottom: thin dotted $borderColor;
    padding: 5px 10px;
    margin: 0;
    span {
      font-weight: 300 $i;
    }
    a {
      text-transform: capitalize;
      font-weight: 300 $i;
    }
  }
  .posted_in:last-child {
    border-bottom: thin dotted $borderColor $i;
  }
  .woo-social-buttons {
    display: none;
  }
  .socialProducts {
    margin-top: 30px;
    .woo-social-buttons {
      display: block;
    }
  }
}

ul.products li.product .woocommerce-LoopProduct-link {
  padding: 15px;
}

.tawcvs-swatches .swatch {
  border-radius: 2px $i;
}

.stock:before {
  display: none $i;
}

.single-product div.product table.variations .value {
  margin: 0 $i;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
  width: 57% $i;
  margin: 10px 0 0 $i;
}

.storefront-full-width-content.single-product div.product .summary {
  width: 40% $i;
  background: #f9f9f9;
  padding: 50px 40px 10px; // height: 540px $i;
  margin: 10px 0 0 $i;
}

.woocommerce-product-gallery__image>a {
  text-align: center;
  display: block;
  img {
    margin: 0 auto $i;
  }
}

.woocommerce-tabs ul.tabs li {
  a {
    background: #f9f9f9;
    color: $blue $i;
    padding-left: 20px $i;
    text-transform: uppercase;
    font-size: 13px $i;
    font-weight: 500;
    letter-spacing: .2px;
  }
}

.woocommerce-tabs ul.tabs li.active {
  a {
    background: $blue;
    color: white $i;
    padding-left: 30px $i;
  }
}

.storefront-full-width-content .woocommerce-tabs .panel {
  border-top: thin solid #f2f2f2;
  padding-top: 20px;
  h2 {
    display: none;
  }
  p {
    font-weight: 300;
    font-size: 15px;
  }
}

.single-product div.product form.cart {
  margin: 0 0 20px $i;
  padding: 0 $i;
}

.single-product div.product .product_meta {
  border: none $i;
}

.filesProduct {
  width: 20%;
  height: 160px;
  border: thin solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 10px 20px;
  i {
    font-size: 30px;
    color: $blue;
  }
  h3 {
    font-size: 14px;
    margin: 20px 0 0;
  }
  &:hover {
    h3 {
      color: $blue;
    }
  }
}

.filesvideo {
  width: 46%;
  height: 320px;
  border: thin solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 10px 20px;
  padding: 0;
  iframe {
    height: 240px;
  }
  h3 {
    font-size: 16px;
    margin: 20px 0;
  }
  &:hover {
    h3 {
      color: $blue;
    }
  }
}

.otherPosts {
  display: none;
}

header section.contact {
  width: 500px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -200%;
  z-index: 99999;
  background: white;
  transition: all .3s;
  &.active {
    right: 0;
  }
  h2 {
    background: $blue;
    color: white;
    @include oswald(600);
    letter-spacing: .5px;
    padding: 13px 20px;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
  }
  .contact-wrapper {
    padding: 30px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: $gray;
  }
  .contact__item {
    @extend .grid--top;
    margin: 0 0 5px;
    width: auto;
    align-content: flex-start;
    justify-content: flex-start;
    color: $gray;
    font-size: 15px;
    a {
      color: $gray;
    }
    i {
      color: $blue;
      font-size: 18px;
    }
    span {
      margin-right: 10px;
    }
  }
  .map {
    border: 3px solid #ccc;
    padding: 0px;
    margin: 20px 0;
    height: 146px;
    #map {
      height: 140px;
      width: 100%;
     }
    iframe {
      width: 100%;
      height: 140px;
    }
  }
  .form {
    form {
      margin: 0;
    }
    input[type=email] {
      width: 100%;
      transition: all .3s;
      border: none;
      box-shadow: none;
      outline: none;
      padding: 7px;
      font-size: 13px;
    }
    input[type=text] {
      width: 100%;
      border: none;
      box-shadow: none;
      outline: none;
      transition: all .3s;
      padding: 7px;
      font-size: 13px;
    }
    textarea {
      background: #f2f2f2;
      transition: all .3s;
      height: 80px;
      border: none;
      transition: all .3s;
      box-shadow: none;
      outline: none;
      padding: 5px;
      font-size: 13px;
      &:focus {
        background: #e2e2e2;
      }
    }
    input[type=submit] {
      background: $blue;
      transition: all .3s;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .5px;
      float: right;
      background-image: url('../images/pattern1.png');
      background-position: center center;
      &:hover {
        background: $blue - 10;
      }
    }
  }
}

.overlay-contact {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  background: black;
  cursor: pointer;
  opacity: .3;
  &.active {
    right: 0;
    opacity: .8;
  }
}

.close-contact {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    transform: rotate(90deg);
  }
  i {
    font-size: 20px;
    color: white;
  }
}

.woocommerce-mini-cart__empty-message {
  color: white;
  font-size: 14px;
}

.chosen-container-single .chosen-single {
  border: none $i;
  border-bottom: 2px solid $blue $i;
  background: white $i;
  border-radius: 0px;
  height: 40px $i;
  margin-top: -5px;
  span {
    padding: 7px 0;
  }
  div b {
    margin-top: 5px;
  }
}

main.nosotros,
main.dealers,
main.account {
  margin-top: $headerheight;
  padding-bottom: 40px;
  h1 {
    @include oswald(600);
    font-size: 28px;
    color: $blue;
    padding: 10px 0 20px;
    letter-spacing: .5px;
    position: relative;
    text-transform: uppercase;
    margin: 0;
  }
}

main.nosotros {
  figure {
    margin: 0 0 30px;
    img {
      border-radius: 0;
    }
  }
  p {
    font-size: 14px;
    color: $gray;
  }
}

main.dealers,
main.account {
  .form {
    width: 50%;
    padding: 30px;
    label {
      color: white;
      display: block;
      margin: 0;
    }
    p {
      margin: 0;
      span {
        display: block;
        margin: 10px 0 10px;
      }
    }
    input {
      width: 100%;
    }
    input[type=submit] {
      width: auto;
      margin: 20px 0 0;
      background: $blue - 50;
      color: white;

    }
  }
  .register {
    background: $blue + 20;
    h2 {
      color: white;
    }
  }
  .login {
    background: #f2f2f2;
    label {
      color: black;
      display: block;
      margin: 10px 0;
    }
    .login-remember {
      display: none;
    }
    input {
      background: #f9f9f9;
      border: 1px solid #ccc;
    }
  }
}

main.account,
main.dealers {
  .woocommerce {
    h2,
    .woocommerce-form__label-for-checkbox {
      display: none !important;
    }
    label {
      color: black;
      span {
        display: inline-block;
      }
    }
    button {
      width: auto;
      margin: 20px 0 0;
      background: $blue - 50;
      color: white;

    }
    .lost_password {

      display: block;
      margin: 20px 0 0;
  
    }
    a {
      color: $blue;
      &:hover {
        color: $blue - 20;
      }
    }
    .form-row-first {
      width: 100%;
    }
  }
}